.auction-card {
  padding: 15px 30px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
  a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  span {
    border-right: 1px solid lightgray;
    padding: 0 20px;
  }
  &:hover {
    background-color: rgba(0,0,0,.05);
  }
}

@media (max-width: 575px) {
  .auction-card {
    flex-direction: column;
    span {
      border-right: none;
    }
  }
}
